In [45]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [46]:
df = pd.read_csv("all_sensor_data.csv").drop(columns=['Unnamed: 0'])

In [47]:
def add_sleep(df_old):
    sleep = {'Oct23':6.46, 'Oct24':7.37, 'Oct25':6.05, 'Oct26':6.21, 'Oct27':6.45,
        'Oct28':7.68, 'Oct29':6.9, 'Oct30':6.46, 'Oct31':8.43, 'Nov1':6.2, 
        'Nov2':7.35, 'Nov3':7.12, 'Nov4':6.18, 'Nov5':6.58, 'Nov6':6.61, 
        'Nov7':7.23, 'Nov8':6.25, 'Nov9':7.85, 'Nov10':6.15, 'Nov11':7.83,
         'Nov12':7.55, 'Nov13':6.51, 'Nov14':6.17, 'Nov15':6.16, 'Nov16':6.16, 'Nov17':6.16,
        'Nov18':7.55, 'Nov19':6.25, 'Nov20':6.37, 'Nov21':6.3, 'Nov22':6.71, 
         'Nov23': 6.5,
        'Nov24':6, 'Nov25':6, 'Nov26':7.25, 'Nov27':7.58, 'Nov28':8.5, 
         'Nov29': 6.32,
        'Nov30':7.55, 'Dec1':6.23, 'Dec2':6.92, 'Dec3':6.45, 'Dec4':6.8,
         'Dec5':7.21, 'Dec6': 7.55}
    
    df_old['num_hrs_slept'] = 0
    octo = [10]*9
    nov = [11]*31
    dec = [12]*6
    month = octo+nov+dec
    day = list(range(23,32)) + list(range(1,31)) + list(range(1,7))
    num_hrs = list(sleep.values())
#     print(len(num_hrs), len(day))

    df = df_old.copy()
    for m,d,p in zip(month, day, num_hrs):
        if df[(df['month']==m) & (df['day']==d)].shape[0] != 0:
            df.set_value((df['month']==m) & (df['day']==d), 'num_hrs_slept', p)
    
    return df

new_df = add_sleep(df)

/Users/kaelanelson/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:26: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [48]:
def add_psets(df_old):
    psets_due = {'Oct23':3,'Oct24':1,'Oct25':1,'Oct30':1,'Nov6':2,
        'Nov7':2,'Nov8':1,'Nov13':1, 'Nov15':1,'Nov20':1,'Nov21':1,
        'Nov26':1,'Dec3':1,'Dec4':1,'Dec5':1}
    
    df_old['num_psets_due'] = 0

    month = [10,10,10,10,11,11,11,11,11,11,11,11,12,12,12]
    day = [23,24,25,30,6,7,8,13,15,20,21,26,3,4,5]
    num_psets = list(psets_due.values())

    df = df_old.copy()
    for m,d,p in zip(month, day, num_psets):
        if df[(df['month']==m) & (df['day']==d)].shape[0] != 0:
            df.set_value((df['month']==m) & (df['day']==d), 'num_psets_due', p)
    
    return df

new_df2 = add_psets(new_df)

/Users/kaelanelson/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app

In [49]:
new_df2

,day,hour,month,weekday,avg_hrly_hum,avg_hrly_temp,avg_hrly_press,tot_motion_count,avg_hrly_light,num_hrs_slept,num_psets_due
0,23,8,10,2,51.35,22.80,100858.130,0.0,4095.000000,6.46,3
1,29,22,10,1,54.20,20.50,102802.440,57.0,2155.500000,6.90,0
2,29,23,10,1,62.25,19.80,102801.110,26.0,3780.750000,6.90,0
3,30,0,10,2,65.15,20.15,102810.425,0.0,4095.000000,6.46,1
4,30,1,10,2,62.20,20.40,102802.390,0.0,4095.000000,6.46,1
...,...,...,...,...,...,...,...,...,...,...,...
761,6,7,12,4,19.10,15.75,101990.020,0.0,4095.000000,7.55,0
762,6,8,12,4,19.35,15.70,102007.570,20.0,4095.000000,7.55,0
763,6,9,12,4,19.45,15.65,101986.890,20.0,3662.333333,7.55,0
764,6,10,12,4,28.95,15.85,101894.715,124.0,3099.416667,7.55,0
765,6,11,12,4,26.30,16.00,101877.170,0.0,4095.000000,7.55,0

In [50]:
new_df2.to_csv("all_data.csv")