**Environment Project A**

**Group Members:** Kyra Ballard, Lauren Baker, Kaela Nelson

In [42]:
import numpy as np
import pandas as pd
import os
import datetime

In [6]:
def read_txt(filename):
    save_ls = []
    with open(filename, 'r') as file:
        for line in file:
            line = line.split(',')
            for val in line:
                save_ls.append(val)
    return save_ls

In [7]:
# read in sensor data
hum = read_txt('CS109a_humidity.txt')
light = read_txt('CS109a_light.txt')
motion = read_txt('CS109a_motion.txt')
pressure = read_txt('CS109a_pressure.txt')
temp = read_txt('CS109a_temperature.txt')

In [78]:
# generate times (every 30 minutes) from initial start date
oct23 = datetime.datetime(2019, 10, 23, hour=8, minute=16)
dates = [oct23]
for i in range(73): 
    dates.append(dates[i] + datetime.timedelta(minutes=30))

In [80]:
# create dataframe of variables
df = pd.DataFrame({'date': dates,'temp': temp, 'hum': hum, 'press': pressure, 'light': light,
                   'motion': motion})
# drop last empty row
df.drop(df.tail(1).index,inplace=True)

In [82]:
# sneak peak of data
df.head()

                 date    hum    light motion      press   temp
0 2019-10-23 08:16:00  51.40  4095.00   0.00  100852.74  23.40
1 2019-10-23 08:46:00  51.30  4095.00   0.00  100863.52  22.20
2 2019-10-23 09:16:00  51.40  4095.00   0.00  100934.15  22.10
3 2019-10-23 09:46:00  50.60  4095.00   0.00  100909.61  21.90
4 2019-10-23 10:16:00  50.60  4095.00   0.00  100981.50  21.80